body {
  background-color: white;
  font-family: 'Muli', sans-serif;
  font-size:14px;
  line-height:24px;
  color:#6f6f6f;
}

h1#proficient {  
  text-align: center;  
}

.skill-html {
  background-color: #FA5858;
}

.skill-js {
  background-color: #F5D0A9;
}

.skill-jquery {
  background-color: #2E64FE;
}

.skill-bootstrap {
  background-color: #6f5499;
}

.skill-git {
  background-color: #f54d27;
}

.skill-json{
  background-color: #0b4e22;
}

.skill-html,
.skill-js,
.skill-jquery,
.skill-json,
.skill-git,
.skill-bootstrap{
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  top: 0px; 

}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}

a {
	color: #007ee5;
}

a:hover {
	color: red;
}


img.rescale{
     width: auto; 
     height: auto;
     max-width: 300px;
     max-height: 240px;
}

.tags {
  color: #888; 
  font-size: 13px; 
}


.abtpage{
    padding-top: 50px;
    padding-bottom: 50px;
}

.abtpadding{
    padding-bottom: 25px;   
    
}


.social-links {
    text-align:center;
}

.social-links a{
    display: inline-block;
    width:50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 15px;

}
.social-links a i{
    padding: 18px 11px;
    font-size: 20px;
    color: white;
}

.social-links a:hover{
    background-color: white;   
}

.social-links a:hover i{
    color: #007ee5;
}

.apply-white {
    color: white;
  }

#purple-link {
    color:#722872; 
  }

  .purplecolor {
    background-color: #007ee5;
}

.mycopywright {
    color: white;
    padding-top:25px;
    padding-bottom: 25px;
}


.acolor{
    background-color: #AAAAAA;
}

.blue-color{
  color: #007ee5;
}